#app {
    text-align: center;
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}
input{
    color: black;
}
button{
    color: black;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: #206E7A;
}

h2 {
    text-align: center;
}
.cill{
    display: flex;

}

li {
    cursor: pointer;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

#cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col {
    color: black;
    border: 1px solid rgb(0, 0, 0);
    width: 33%;
}

.cards {
    list-style-type: none;
    font-size: 14px;
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
}

.tasks {
    display: flex;
    list-style-type: disc;
    margin: 0;
    align-items: center;
}

.design {
    max-width: 203px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.completed {
    background-color: rgb(16, 121, 63);
}

.error {
    position: fixed;
    top: 200px;
    color: #00ffd0;
    width: 200px;
}




